body
{
	background-image: url(../player/images/background.gif);
	background-repeat: no-repeat;
	background-color: #002651;
	color: #DAF9FC;
	font-weight: normal;
	font-size: 11pt;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	cursor: default;
}
.mainbody
{
	border-color: #7CC0E2;
	border-width: 5px;
	border-style: solid;
}
.popupframe
{
	background-color: #002651;
	border-color: #7CC0E2;
	border-width: 2px;
	border-style: solid;
}
.popupbody
{
	border-color: #7CC0E2;
	border-width: 3px;
	border-style: solid;
}
.error
{
	color: red;
}
/*.textCtr*/
/*{*/
	/*font-weight: normal;*/
/*}*/
/*.textSmallCtr*/
/*{*/
	/*font-weight: normal;*/
	/*font-size: 8pt;*/
	/*color: #DAF9FC;*/
	/*overflow: hidden;*/
	/*text-overflow: ellipsis;*/
	/*white-space: nowrap;*/
/*}*/
.textLbl
{
	text-align: right;
	white-space: nowrap;
}
.textSmallLbl
{
	font-weight: normal;
	font-size: 9pt;
	text-align: right;
	white-space: nowrap;
}
.buttonCtr_normal
{
	color: #DAF9FC;
	text-decoration: none;
	cursor: hand;
	cursor: pointer;
	padding: 5px;
}
td.buttonCtr_normal
{
	background: #0291CE;
}
.buttonCtr_normal:hover
{
	background: #7CC0E2;
}
.buttonCtr_hilite
{
	background: #7CC0E2;
	color: #DAF9FC;
	text-decoration: none;
	padding: 5px;
	cursor: hand;
	cursor: pointer;
}
a.buttonCtr_hilite
{
	padding: 5px;
}
a.buttonCtr_hilite:visited
{
	color: #DAF9FC;
}

.listCtrHeader
{
	padding-left: 10px;
	padding-right: 5px;
	font-size: 12pt;
	color: #0293CF;
	text-align: left;
	/*border: 1px solid blue;*/
}
.listCtrSmallHeader
{
	padding-left: 10px;
	padding-right: 5px;
	font-weight: normal;
	color: #0293CF;
	text-align: left;
	/*border: 1px solid blue;*/
}

.listCtrRow
{
	color: #DAF9FC;
	/*border: 1px solid blue;*/
}
.listCtrRow:hover
{
	background: #7CC0E2;
}

.listCtrItem
{
	color: #DAF9FC;
	padding-left: 10px;
	padding-right: 5px;

	font-variant: small-caps;
	font-weight: bold;
	font-size: 12pt;

	text-align: left;
	vertical-align: top;
	text-decoration: none;
	/*border: 1px solid blue;*/
}
a.listCtrItem
{
	padding-left: 0px;
	padding-right: 0px;
	/*border: 1px solid blue;*/
}
a.listCtrItem:visited
{
	color: #DAF9FC;
}
.listCtrSmallItem
{
	padding-left: 10px;
	padding-right: 5px;
	font-weight: normal;
	font-size: 9pt;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	/*border: 1px solid blue;*/
}
.listCtrSmallWrapItem
{
	padding-left: 10px;
	padding-right: 5px;
	font-weight: normal;
	font-size: 9pt;
	text-align: left;
	vertical-align: top;
	/*border: 1px solid blue;*/
}

.editCtr
{
}
td.editCtr
{
	text-align: left;
}

.checkCtr
{
}
td.checkCtr
{
	text-align: left;
}

.ads
{
	font-weight: normal;
	font-size: 7pt;
	font-family : serif;
	color: white;
}
