body
{
	background-color: white;
	font-weight: bold;
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	cursor: default;
}
.mainbody
{
	border-color: #002651;
	border-width: 5px;
	border-style: solid;
}
.lhm_normal
{
	color: #002651;
	cursor: hand;
	cursor: pointer;
}
a.lhm_normal:link
{
	color: #000;
}
a.lhm_normal:active
{
	color: #CCC;
}
a.lhm_normal:visited
{
	color: #000;
}
.lhm_normal:hover
{
	background: #CCC;
}
td.lhm_hilite
{
	background-color: #002651;
	color: white;
	cursor: hand;
	cursor: pointer;
}
a.lhm_hilite
{
	color: white;
}
a.lhm_hilite:link
{
	color: white;
}
a.lhm_hilite:active
{
	color: #CCC;
}
a.lhm_hilite:visited
{
	color: white;
}
.lhm_hilite:hover
{
	background: #CCC;
}

.listCtrHeader
{
	padding-left: 10px;
	padding-right: 5px;
	font-size: 12pt;
	color: darkslateblue;
	text-align: left;
	/*overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;*/
	/*border: 1px solid blue;*/
}
.listCtrSmallHeader
{
	padding-left: 10px;
	padding-right: 5px;
	font-weight: normal;
	font-size: 10pt;
	color: darkslateblue;
	text-align: left;
	/*overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;*/
	/*border: 1px solid blue;*/
}

.listCtrRow
{
	/*border: 1px solid blue;*/
}
.listCtrRow:hover
{
	background: #CCC;
	/*color: red;*/
}

.listCtrItem
{
	padding-left: 10px;
	padding-right: 5px;
	font-size: 11pt;
	text-align: left;
	/*overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;*/
	/*border: 1px solid blue;*/
}
.listCtrItemLink
{
	padding-left: 0px;
	padding-right: 0px;
	/*overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;*/
	/*border: 1px solid blue;*/
}
a.listCtrItemLink:visited
{
	color: black;
}
.listCtrSmallItem
{
	padding-left: 10px;
	padding-right: 5px;
	font-weight: normal;
	font-size: 10pt;
	text-align: left;
	/*overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;*/
	/*border: 1px solid blue;*/
}

.ads
{
	background-color: white;
	font-weight: normal;
	font-size: 7pt;
	font-family : serif;
	color: black;
}
